.github
.git

.idea
.vscode

dist
node_modules

.husky
src
set-version.js

README.md
SECURITY.md
CODEOWNERS

.gitignore
.npmignore
.prettierignore
.prettierrc
.gitattributes

tsconfig.json
tsconfig.eslint.json
tsup.config.ts
eslint.config.js
eslint.config.typeaware.cjs
package-lock.json
