name: Build Validation

on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: use NodeJS v22.16.0
              uses: actions/setup-node@v4
              with:
                  node-version: '22.16.0'

            - name: Install Dependencies
              run: npm install

            - name: run Rollout Build
              run: npm run build
